#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:

override_dh_install:
	# Создаем структуру директорий в папке пакета
	mkdir -p debian/osripper/usr/share/osripper
	mkdir -p debian/osripper/usr/bin
	
	# Копируем всё содержимое текущей папки в share, исключая папку debian
	rsync -a . debian/osripper/usr/share/osripper/ --exclude debian
	
	# Ищем файл OSRipper.py (он может быть в корне или в подпапке)
	# и создаем на него симлинк в /usr/bin/osripper
	TARGET_PY=$(find debian/osripper/usr/share/osripper -name "OSRipper.py" | head -n 1) && \
	chmod +x "$$TARGET_PY" && \
	ln -sf "$${TARGET_PY#debian/osripper}" debian/osripper/usr/bin/osripper

