#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:

override_dh_install:
	mkdir -p debian/osripper/usr/share/osripper
	mkdir -p debian/osripper/usr/bin
	
	# Копируем все исходники
	rsync -av . debian/osripper/usr/share/osripper/ --exclude debian
	
	# Создаем скрипт-обертку для запуска в /usr/bin/osripper
	echo '#!/bin/bash' > debian/osripper/usr/bin/osripper
	echo 'export PYTHONPATH=/usr/share/osripper/src' >> debian/osripper/usr/bin/osripper
	echo 'python3 -m osripper.main "$@"' >> debian/osripper/usr/bin/osripper
	
	chmod +x debian/osripper/usr/bin/osripper
